body {
  display: flex;
  margin: 0;
  background-color: white;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 4px;
  align-items: center;
  border: 1px solid black;
}

.visitcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid black;
  background-color: blanchedalmond;
  padding: 60px;
  height: 550px;
  width: 550px;
}

.flightcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.btn1 {
  width: 140px;
  height: 40px;
  font-size: 12px;
  background-color: red;
  border: 3px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
